.widget{padding-bottom:20px;}

.box{border-radius: 8px;box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 1.6rem;}

html, th, td{
    background-color: #f8f9f9;
}

.tile{
    background-color: #f8f9f9;
}

a.try-cloud-link{
    align-items: center;
    display: flex;
    background-image: none;
    border: 1px solid #5866F6;
    padding: 0px 20px;
    white-space: nowrap;
    margin:13px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #5866F6;
    transition: background-color .6s;
    transition: color .6s;
}

a.try-cloud-link:hover {
    background-color: #5961FF;
    color: #FFFFFF;
}

.tile img{
    background-color: #f8f9f9;
    height:60px;
}

.toastui-editor-contents h2{
    color:#3f5e85;
}

input.searchbar {
  background-image: url("/theme/images/magnifyingglass.svg");
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: 13px center;
}

input.smallsearchbar {
  background-image: url("/theme/images/magnifyingglass.svg");
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: 8px center;
}

section .navbar-brand img {
  max-height:none;
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar{
  border-bottom: 1px solid #BBB;
  height:78px;
}

.navbar-brand{
  margin: 0 0rem 0 2rem;
}

.liner{
    border-bottom: 1px solid #AAA;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
  background-color: #f8f9f9;
  padding-left:100px;
  padding-right:100px;

  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

section .navbar-item span{
color: #6d7278;
display: inline;
text-align: center;
-webkit-text-stroke-color: #fff;
font-weight: 700;
font-size: 14px;
}

.columns{
    margin-right:0px;
}

.pagination-link.is-current {
    background-color: #4b61c0;
    border-color: #4b61c0;
    color: #fff;
}

.centeredbox {
    text-align: center;
    display: block;
}

.toastui-editor-contents{
    font-size: 15px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    }

    .ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
    }

    .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}