{% extends "base.html" %}
{% block content %}

<div id="container">
    <h1 id="name" class="title is-4">What is keybase?</h1>
    <p class="mb-2">This platform is a proof-of-concept to show how to create a Knowledge base using Redis. For this platform, I have used:</p>
    <ul class="mb-2" style="list-style-type: disc;">
        <li>Redis Stack, using RediSearch for full text searches and vector similarity</li>
        <li>Toast UI Web Editor, used as the Markdown editor</li>
        <li>JQuery</li>
        <li>JQueryUI</li>
        <li>Notify.js plugin for JQuery</li>
        <li>Bulma CSS framework</li>
    </ul> 
    <p class="mb-4">Feel free to download, use, change and reuse the source code. Feedback is welcome.</p>
</div>

{% endblock %}
