{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}

<div id="container">
    <h1 id="name" class="title is-4 mb-2">What is keybase?</h1>
    <p>This software is an Open Source Knowledge Base offering smart searches and recommendations based on Redis Stack. Using this software:</p>

    <ul style="list-style-type: disc; list-style-position:inside;">
        <li>You can browse, search, and bookmark Knowledge Base articles</li>
        <li>Consult recommended similar documents</li>
        <li>Create and edit documents using the WYSIWYG editor</li>
        <li>Markdown is also supported by the editor</li>
        <li>Documents can be tagged</li>
    </ul> 
    
    <h1 id="name" class="title is-4 mt-4 mb-2">Roles</h1>
    <ul style="list-style-type: disc; list-style-position:inside;">
        <li><b>Viewer</b>. Once authentication via Okta is completed, every new user is a Viewer. Only the Admin can assign a different role (Editor or Admin). The Viewer can search, read and bookmark documents.</li>
        <li><b>Editor</b>. As Editor, you can create drafts and update them as many times you would like. Only an Admin can publish a draft and make it available to the rest of the world. This is a common mechanism to preserve the quality of the articles and enforce a review process. Once an article is published and you want to improve, fix or correct it, you can do that as Editor. The article will be reverted to the state of draft and will need to be reviewed and published by an Admin. Editors can see their own drafts only. Editors can also tag documents.</li>
        <li><b>Admin</b>. The administrator can create, edit and publish all the documents; can assign roles and archive and delete documents. Only the Admin can create new document tags.</li>
    </ul> 

    <h1 id="name" class="title is-4 mt-4 mb-2">Technology</h1>
    Python, Redis Stack, Toast UI Web Editor, Flask Web framework, JQuery, JQueryUI, Notify.js, Bulma CSS framework, Okta authentication
    <p>Feel free to <a href="https://github.com/redislabs-training/keybase" target="_blank">download</a>, use, change and reuse the source code. Feedback is welcome.</p>
</div>

{% endblock %}
