{% extends "base.html" %}

{% block content %}
  <h1 id="name" class="title is-4">Admin</h1>

  <h1 id="name" class="title is-5">Backup and Restore</h1>
  <div class="columns">
    <div class="column">Download a backup of the knowledge base</div>
    <div class="column"><button id="backup" class="button is-small">Backup</button> </div>
  </div>

  <div class="columns">
    <div class="column">Restore the knowledge base from backup</div>
    <div class="column"> 

    <div class="file is-small">
      <label class="file-label">
        <input id="restore" class="file-input" type="file" name="resume">
        <span class="file-cta">
          <span class="file-label">
            Restore
          </span>
        </span>
      </label>
    </div>
  </div>

  </div>

  <h1 id="name" class="title is-5">Users</h1>

  {% if users is not none %}
  {% for key, name, group, email in users %}
  <div class="columns">
    <div class="column">{{email}}</div>
    <div class="column">

      <div class="select is-small">
        <select id="{{key}}">
          <option value="admin"{% if group=='admin' %} selected{% endif %}>Admin</option>
          <option value="editor"{% if group=='editor' %} selected{% endif %}>Editor</option>
          <option value="viewer"{% if group=='viewer' %} selected{% endif %}>Viewer</option>
        </select>
      </div>

    </div>
  </div>
  {% endfor %}
  {% else %}
      No users in the system
  {% endif %}

  <script>
    $( "select" )
      .change(function () {
	      $.ajax({
	        type: "POST",
	        url: "{{ url_for('admin.group')}}",
	        data : {id:$( this ).attr("id"), group:$(this).children("option:selected").val()},
	        success: function(data) {
	        console.log(data);
            $.notify("Role updated", "success");
	        }});
      })
    </script>

  <script>
  var backupBtn = document.querySelector('#backup');
  backupBtn.addEventListener("mousedown", function(e) {
    const timeElapsed = Date.now();
    const today = new Date(timeElapsed);
    filename = "keybase_"+today.toISOString()+".txt";
      $.ajax({
        type: "GET",
        url: "{{ url_for('admin.backup')}}",
        data : {},
        success: function(data) {
          console.log(data.backup)
          download(filename, data.backup)
          $.notify(data.message, "success");
        }});
  }, true);

  $("#restore").change(function(){
    var fd = new FormData();
    var files = $('#restore')[0].files;

    // Check file selected or not
    if(files.length > 0 ){
    fd.append('file',files[0]);

    $.ajax({
    url: "{{ url_for('admin.restore')}}",
    type: 'post',
    data: fd,
    contentType: false,
    processData: false,
    success: function(data) {
          $.notify(data.message, "success");
        }});
        

/*
    var file = this.files[0];
    var FR = new FileReader();

    FR.readAsText(file);
    FR.onload = function(data) {
    var myVar = data.target.result;
    
      $.ajax({
        type: "GET",
        url: "{{ url_for('admin.restore')}}",
        data : {file: myVar},
        success: function(data) {
        console.log(data);
          $.notify("Document updated", "success");
        }});
    }
*/

    }
  });

  function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
  }

</script>

{% endblock %}

