<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/logo.ico') }}"/>
    <title>keybase</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">-->
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202108281054">
    <link rel="canonical" href="https://bulma.io/documentation/components/navbar/">
    <link rel="alternate" type="application/rss+xml" title="Bulma: Free, open source, and modern CSS framework based on Flexbox" href="https://bulma.io/atom.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>

    <style>
        .widget{padding-bottom:20px;}
    </style>
</head>

<body>
    <section class="hero is-fullheight"> <!--is-primary-->
        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                {% if is_logged_in() %}
                <a href="{{ url_for('app.browse') }}" class="navbar-item">
                {% else %}
                <a href="{{ url_for('app.index') }}" class="navbar-item">
                {% endif %}
                  <img src="{{ url_for('static',filename='images/keybasesmall.png') }}">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {% if is_logged_in() %}
                    <a href="{{ url_for('app.browse') }}" class="navbar-item">
                        Documents
                    </a>
                    <a href="{{ url_for('app.new') }}" class="navbar-item">
                        New
                    </a>
                    <a href="{{ url_for('app.about') }}" class="navbar-item">
                        About
                      </a>
                    {% endif %}
                  </div>
                </div>

                <div class="navbar-end">
                {% if is_logged_in() %}
                    <a href="{{ url_for('app.profile') }}" class="navbar-item">
                        Profile
                    </a>
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="{{ url_for('auth.signup') }}" class="button is-info">
                                <strong>Sign up</strong>
                            </a>
                            <a href="{{ url_for('auth.login') }}" class="button is-light">
                                Login
                            </a>
                        </div>
                    </div>
                {% endif %}

                </div>
              </div>
            </nav>
        </div>

        <div class="hero-body" style="align-items:normal; padding: 0rem 3rem;">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>