<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preload" href="{{ url_for('static',filename='images/keybasesmall.png') }}" as="image" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/logo.ico') }}"/>
    <title>Keybase</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202108281054">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"></link>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" media="all">
    <link rel="canonical" href="https://keybase.redislabs-training.redislabs.com">
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/logo.png') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static',filename='images/logo.png') }}" />
    <link rel="apple-touch-startup-image" href="{{ url_for('static',filename='images/logo.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
</head>

<body>
    <section> <!--is-primary-->

            <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('document_bp.browse') }}" class="navbar-item">
                        <img src="{{ url_for('static',filename='images/keybasesmall.png') }}">
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" style="margin:0 0 0 auto">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                {% endif %}
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start"> <!--is_logged_in()-->
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('document_bp.browse') }}" class="navbar-item">
                            <span {% if "browse" == active_page %} class="has-background-info-light" style="padding:6px; border-radius:4px;" {% endif%}>Search</span>
                        </a>
                        {% if current_user.is_editor() %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <span {% if "new" == active_page %} class="has-background-info-light" style="padding:6px; border-radius:4px;"{% endif%}>New</span>
                            </a>
                            <div class="navbar-dropdown">
                                <a href="{{ url_for('app.new',doc='case') }}" class="navbar-item">
                                    Customer case
                                </a>
                                <a href="{{ url_for('app.new',doc='troubleshooting') }}" class="navbar-item">
                                    Troubleshooting guide
                                </a>
                                <a href="{{ url_for('app.new',doc='design') }}" class="navbar-item">
                                    Design article
                                </a>
                                <a href="{{ url_for('app.new',doc='howto') }}" class="navbar-item">
                                    How-to guide
                                </a>
                                <a href="{{ url_for('app.new',doc='qa') }}" class="navbar-item">
                                    Q&A
                                </a>
                            </div>
                        </div>

                        <a href="{{ url_for('drafts_bp.drafts') }}" class="navbar-item">
                            <span {% if "draft" == active_page %} class="has-background-info-light" style="padding:6px; border-radius:4px;"{% endif%}>Drafts</span>
                        </a>
                        {% endif %}
                        {% if current_user.is_admin() %}
                        <a href="{{ url_for('analytics_bp.analytics') }}" class="navbar-item">
                            <span {% if "analytics" == active_page %} class="has-background-info-light" style="padding:6px; border-radius:4px;"{% endif%}>Analytics</span>
                        </a>
                        {% endif %}
                        <a href="{{ url_for('app.about') }}" class="navbar-item">
                            <span {% if "about" == active_page %} class="has-background-info-light" style="padding:6px; border-radius:4px;"{% endif%}>About</span>
                        </a>
                        {% endif %}
                    </div>

                    <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {{current_user.name}}
                            </a>
                            <div class="navbar-dropdown">
                                {% if current_user.is_admin() %}
                                <a href="{{ url_for('admin_bp.tools') }}" class="navbar-item">
                                    Admin
                                </a>
                                {% endif %}
                                <a href="{{ url_for('bookmarks_bp.bookmarks') }}" class="navbar-item">
                                    Bookmarks
                                </a>
                                <hr class="navbar-divider">
                                <a href="{{ url_for('okta_bp.logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    </div>
              </div>
            </nav>

            <div class="container" style="padding-left:20px; padding-right:20px;">
               {% block content %}
               {% endblock %}
            </div>
    </section>

    <script>
        $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
        });
    </script>

</body>

</html>