{% extends "base.html" %}
{% block content %}

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<div id="container">

	<div class="field is-grouped">
		<p class="control is-expanded">
			<input class="input" id="name" type="text" placeholder="Document name">
		</p>
		<p class="control">
			<button id="save" class="button is-info is-light" type="button">save</button> 
			<button id="close" class="button is-info is-light" type="button">close</button> 
			<a id="delete" class="button is-danger is-light" href="{{ url_for('app.delete',id=id) }}">delete</a> 
		</p>
	  </div>
	<div id="editor"></div>
</div>

<script>
      const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        initialEditType: 'wysiwyg',
        width: '500px',
		height: '500px',
        initialValue: decodeURIComponent("{{content}}")
      });

	  $( "input" ).val(decodeURIComponent("{{name}}"));

	  var saveBtn = document.querySelector('#save');
	  var closeBtn = document.querySelector('#close');
	  saveBtn.addEventListener("mousedown", function(e) {
		if ($("#name").val().length<10){
            $.notify("Document name is too short", "error");
            return;
          }
	      $.ajax({
	        type: "POST",
	        url: '/update',
	        data : {id:"{{id}}", content:encodeURIComponent(editor.getMarkdown()), name:encodeURIComponent($("#name").val())},
	        success: function(data) {
	        console.log(data);
            $.notify("Document updated", "success");
	        }});
	  }, true);

	  closeBtn.addEventListener("mousedown", function(e) {
		window.location.replace("{{ url_for('app.view',id=id) }}");
	  }, true);

	  $("#delete").click(function() {
        if (confirm("Confirm the deletion of the document!") == true) {
            return true;
        } else {
            return false;
    }})	  
</script>
{% endblock %}
