{% extends "base.html" %}

{% block content %}
<h1 class="title">
    keybase
</h1>
<h2 class="subtitle">
    The home of your Knowledge Base
</h2>
<p class="mb-2">A simple, Redis-based, Knowledge Base platform</p>
<p class="mb-2 is-size-7">
    <ul style="list-style-type: disc;">
        <li>Full-text search, with autocomplete</li>
        <li>Markdown WYSIWYG editor</li>
        <li>Recommended documents</li>
        <li>Okta authentication</li>
    </ul> 
</p>

<p class="mb-2">
    <a target="_blank" href=https://opensource.org/licenses/MIT>MIT licensed</a>
</p>
{% endblock %}