{% extends "base.html" %}
{% block content %}

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<div id="container">
    <h1 id="name" class="title is-4" style="margin-bottom:0em;"></h1>
    <p>
        <a style="display:inline;" href="{{ url_for('app.edit',id=id) }}">edit</a>
        <a style="display:inline;;" id="delete" href="{{ url_for('app.delete',id=id) }}">delete</a>
    </p>
    <div style="float:left;">
        <div id="editor" style="width:600px;text-align: justify; text-justify: inter-word;"></div>
    </div>
    <div id="recommendation" style="padding-left:20px; float:left; width:300px;">
        <h4 id="name" class="title is-6" style="margin-bottom:0em;">Recommendations</h4>
        {% for key, name in suggestlist %}
        <a style="display:block;" class="is-size-7" href="{{ url_for('app.view',id=key) }}">
            {{name}}
        </a>
        {% endfor %}
    </div
</div>

<script>  
    $( "#name" ).text(decodeURIComponent("{{document[0]}}"));  
      const viewer = toastui.Editor.factory({
        el: document.querySelector('#editor'),
        viewer: true,
        height: '500px',
        linkAttributes: {
            target: '_blank',
            contenteditable: 'false',
            rel: 'noopener noreferrer'
        },
        initialValue: decodeURIComponent("{{document[1]}}")
        });

    $("#delete").click(function() {
        if (confirm("Confirm the deletion of the document!") == true) {
            return true;
        } else {
            return false;
    }})

</script>
{% endblock %}
