        <footer class="re-footer mt-6 p-6">
            <div class="columns">
                <div class="column is-one-third has-text-centered">
                    <a href="https://redis.com/">
                        <img alt="Redis Logo" width="117px" height="40px" src="{{ url_for('public_bp.static',filename='images/redis-logo.svg') }}">
                    </a>
                </div>
                <div class="column">
                    <h6 class="has-text-white has-text-weight-bold">PRODUCTS</h6>
                    <ul class="mt-4">
                        <li class="mt-2"><a href="https://redis.com/redis-enterprise-cloud/overview/">Cloud</a></li>
                        <li class="mt-2"><a href="https://redis.com/redis-enterprise-software/overview/">Software</a></li>
                        <li class="mt-2"><a href="https://redis.com/redis-enterprise-cloud/pricing/">Pricing</a></li>
                        <li class="mt-2"><a href="https://redis.com/deployment/support/">Support</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h6 class="has-text-white has-text-weight-bold">LEARN</h6>
                        <ul class="mt-4">
                            <li class="mt-2"><a href="https://docs.redis.com/">Documentation</a></li>
                            <li class="mt-2"><a href="https://university.redis.com/">University</a></li>
                            <li class="mt-2"><a href="https://university.redis.com/">Developers</a></li>
                            <li class="mt-2"><a href="https://kb.staging.learn.redis.com/">Knowledge Base</a></li>
                        </ul>
                </div>
                <div class="column">
                    <h6 class="has-text-white has-text-weight-bold">COMPANY</h6>
                    <ul class="mt-4">
                        <li class="mt-2"><a href="https://redis.com/company/">About Us</a></li>
                        <li class="mt-2"><a href="https://redis.com/company/careers/">Careers</a></li>
                        <li class="mt-2"><a href="https://redis.com/company/contact/">Contact Us</a></li>
                        <li class="mt-2"><a href="https://redis.com/company/compliance-and-privacy/">Trust Center</a></li>
                        <li class="mt-2"><a href="https://redis.com/legal/">Legal Notices</a></li>
                    </ul>
                </div>
                <div class="column is-one-fifth">
                    <h6 class="has-text-white has-text-weight-bold">SOCIAL</h6>
                    <div class="mt-4">
                        <a class="mr-4" href="https://www.linkedin.com/company/redisinc">
                            <img alt="Linkedin Logo" height="20px" src="{{ url_for('public_bp.static',filename='images/linkedin.png') }}">
                        </a>
                        <a class="mr-4" href="https://www.youtube.com/c/redisinc">
                            <img alt="YouTube Logo" height="20px" src="{{ url_for('public_bp.static',filename='images/youtube.png') }}">
                        </a>
                        <a  class="mr-4"href="https://twitter.com/Redisinc">
                            <img alt="Twitter Logo" height="20px" src="{{ url_for('public_bp.static',filename='images/twitter.png') }}">
                        </a>
                        <a href="https://www.facebook.com/Redisinc/">
                            <img alt="Facebook Logo" height="20px" src="{{ url_for('public_bp.static',filename='images/facebook.png') }}">
                        </a>
                    </div>
                </div>
            </div>


            <div class="mt-6 has-text-centered footer-credit">
                © 2023 Redis. Redis and the cube logo are registered trademarks of Redis Ltd.
            </div>
            <div class="has-text-centered privacy-links" style="text-align: center; font-size: 14px; display: flex; gap: 1rem; justify-content: center;">
                <div id="teconsent" consent="0,1,2,3" aria-label="Open Cookie Preferences Modal" class="truste_caIcon_display" role="complementary"><a role="link" id="icon-id05722634448924915" tabindex="0" aria-haspopup="true" aria-label="Cookie Preferences" class="truste_cursor_pointer" lang="en">Cookie Preferences</a></div>
                <a style="color: var(--c-neutral-600);" href="https://preferences.redis.com/dont_sell" target="_blank" rel="noopener">Do Not Sell Or Share My Personal Information</a>
            </div>
        </footer>