{% extends "theme.html" %}
{% set active_page = "document" %}
{% block content %}

<div class="columns">
  <div class="column is-half">
      {% include 'breadcrumb.html' %}
  </div>
  <div class="column">
      {% if "landing" != active_page %}
        <!--Three values: flex-grow | flex-shrink | flex-basis -->
        <div class="navbar-search">
            {% include 'smallsearchbar.html' %}
        </div>
      {% endif %}
  </div>
</div>

<div class="columns" style="mt-0">
    <div class="column is-8">
        <h1 id="name" class="title is-3 mb-2 has-text-weight-normal">{{document['name']|safe}}</h1>
        {% include 'doctags.html' %}
        <span class="is-size-7 has-text-weight-medium">Last update: {{document['updated']}}</span>
        <div class="liner"></div>
        <div id="editor" style="text-align:justify; text-justify: inter-word;">{{document['content']|safe}}</div>
    </div>
    <div class="column">
        {% include 'recommendations.html' %}
    </div>
</div>

{% endblock %}
