{% extends "base.html" %}

{% block content %}

<div style="width:90%; max-width:360px; padding:20px;" class="signinbox">
    <span class="centeredbox">
        <img width="200px"src="{{ url_for('static',filename='images/keybasesmall.png') }}">
        <p class="mb-0">Open Source Knowledge Base Platform</p>
    </span>

    <ul style="list-style-type: disc; list-style-position:inside;" class="m-4 is-size-7">
        <li>Markdown WYSIWYG editor</li>
        <li>Full-text searches</li>
        <li>Recommended documents</li>
        <li>Okta authentication</li>
        <li>Uses Redis Stack</li>
    </ul> 

    <a class="centeredbox mt-4" href="{{ url_for('okta_bp.login') }}">
        <img width="160px" src="{{ url_for('static',filename='images/okta.png') }}">
    </a>
    <p class="mt-0 has-text-centered is-size-7">
        <a target="_blank" href=https://opensource.org/licenses/MIT>MIT licensed</a>
    </p>
</div>

<script>
    document.body.style.backgroundColor = "#f4f6f7";
</script>
{% endblock %}