{% extends "base.html" %}
{% set active_page = "analytics" %}

{% block content %}

    <h1 id="name" class="title is-4">Analytics</h1>
    <div style="margin: auto;max-width:80%">
        <canvas id="visits"></canvas>
        <hr style="border-top: 1px solid #bbb;">
        <canvas id="authentications"></canvas>
    </div>
    <script>
      var data_js = {{ visits_json|tojson }};
      var auths_js = {{ authentications_json|tojson }};
      const ctx = $('#visits');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: JSON.parse(data_js).labels,
              datasets: [{
                  label: '# of Visits',
                  data: JSON.parse(data_js).value,
                  fill: false,
                  backgroundColor: 'rgba(203, 70, 56, 0.2)',
                  borderColor: 'rgb(203, 70, 56)',
                  borderWidth: 1
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      
      const ctx1 = $('#authentications');
      const myChart1 = new Chart(ctx1, {
          type: 'bar',
          data: {
              labels: JSON.parse(auths_js).labels,
              datasets: [{
                  label: '# of Authentications',
                  data: JSON.parse(auths_js).value,
                  fill: false,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgb(54, 162, 235)',
                  borderWidth: 1
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>

{% endblock %}

