{% extends "base.html" %}
{% block content %}

<div id="container">
	<div class="field is-grouped">
		<p class="control is-expanded">
			<input class="input" id="name" type="text" placeholder="Document name">
		</p>
		<p class="control">
			<button id="save" class="button is-info is-light" type="button">save</button>
			<button id="close" class="button is-info is-light" type="button">close</button>
			{% if current_user.is_admin() %}
			<a id="publish" class="{% if document.state != 'draft' and document.state != 'review' %} is-hidden {% endif%} button is-warning is-light" href="{{ url_for('document_bp.publish',pk=document.pk) }}">publish</a>
			<a id="delete" class="button is-danger is-light" href="{{ url_for('document_bp.delete',pk=document.pk) }}">delete</a>
			{% endif %}
		</p>
	</div>
	<div class="columns">
		<div class="column is-9">
			<div id="editor"></div>
		</div>
		<div class="column is-3">
			{% if current_user.is_admin() %}
			{% include 'privacy.html' %}
			{% endif %}
			{% include 'taxonomy-categories.html' %}
			{% include 'taxonomy-tags.html' %}
			{% include 'metadata.html' %}
			{% include 'versions.html' %}
		</div>
	</div>
</div>


<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        initialEditType: 'wysiwyg',
        width: '500px',
		height: '500px',
        initialValue: decodeURIComponent("{{document.editorversion.content}}")
      });

	$( "#name" ).val(decodeURIComponent("{{document.editorversion.name}}"));

	var closeBtn = document.querySelector('#close');

	$("#save").click(function(e){
		e.preventDefault();
		if ($("#name").val().length<10){
            $.notify("Document name is too short", "error");
            return;
        }
	    $.ajax({
	    	type: "POST",
	        url: "{{ url_for('document_bp.update')}}",
	        data : {id:"{{document.pk}}", content:encodeURIComponent(editor.getMarkdown()), name:encodeURIComponent($("#name").val())},
	        success: function(data) {
	        	console.log(data);
            	$.notify(data["message"], "success");
				$( "#publish" ).removeClass("is-hidden")
	        }
		});
		return false;
	});

	$("#publish").click(function(e){
		e.preventDefault();
		if ($("#name").val().length<10){
			$.notify("Document name is too short", "error");
			return;
		}
		$.ajax({
			type: "POST",
			url: "{{ url_for('document_bp.publish')}}",
			data : {id:"{{document.pk}}", content:encodeURIComponent(editor.getMarkdown()), name:encodeURIComponent($("#name").val())},
			success: function(data) {
				console.log(data);
				$.notify(data["message"], "success");
				$( "#publish" ).addClass("is-hidden")
				location.reload(true)
			}
		});
		return false;
	});
	  

	  closeBtn.addEventListener("mousedown", function(e) {
		window.location.replace("{{ url_for('document_bp.doc',pk=document.pk,prettyurl=pretty) }}");
	  }, true);

	  $("#delete").click(function() {
        if (confirm("Confirm the deletion of the document!") == true) {
            return true;
        } else {
            return false;
    }})	  
</script>


{% endblock %}
