{% extends "base.html" %}
{% set active_page = "new" %}

{% block content %}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<div id="container">
	<div class="field is-grouped">
		<p class="control is-expanded">
			<input class="input" id="name" type="text" placeholder="Document name">
		</p>
		<p class="control">
			<button id="save" class="button is-info is-light" type="button">create draft</button>
		</p>
	  </div>
    <div id="editor"></div>
</div>

<script>
    // https://nhn.github.io/tui.editor/latest/ToastUIEditorCore
      const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        initialEditType: 'wysiwyg',
        width: '500px',
		height: '500px',
        initialValue: decodeURIComponent("{{template}}")
      });

	  var saveBtn = document.querySelector('#save');
	  saveBtn.addEventListener("mousedown", function(e) {
          if ($("#name").val().length<10){
            $.notify("Document name is too short", "error");
            return;
          }
	      $.ajax({
	        type: "POST",
	        url: "{{ url_for('document_bp.save')}}",
	        data : {content:encodeURIComponent(editor.getMarkdown()), name:encodeURIComponent($("#name").val())},
	        success: function(data) {
	        console.log(data.id);
            $.notify("Draft created", "success");
            window.location.replace("edit?id=" + data.id);
			window.location.replace("{{ url_for('drafts_bp.drafts')}}");
	        }});
	  }, true);
</script>
{% endblock %}
