<div class="settings">
    <div class="settings-header">
        <p class="is-size-6">privacy</p>
    </div>
    <div class="settings-item">
        <div id="existing-cat">
            <div class="field is-grouped">
                <p class="control">
                <span class="select is-small">
                    <select name="privacy">
                        <option value="internal" {% if document.privacy=="internal" %} selected{% endif %}>Internal</option>
                        <option value="public" {% if document.privacy=="public" %} selected{% endif %}>Public</option>
                    </select>
                </span>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
        $('select[name="privacy"]').on('change', function (e) {
		e.preventDefault();
	    $.ajax({
	    	type: "POST",
	        url: "{{ url_for('document_bp.setprivacy')}}",
	        data : {id:"{{document.pk}}", privacy:this.value},
	        success: function(data) {
            	$.notify(data["message"], data["code"]);
	        }
		});
    });
</script>