{% extends "base.html" %}
{% block content %}

    {% if not bookmarked %}
    <a id="bookmark" class="is-size-7" style="display:inline;" href="{{ url_for('bookmarks_bp.bookmark', docid=docid) }}">
        <img id="bkmrk" width="10" src="{{ url_for('static',filename='images/bookmark-gray.png') }}">
    </a>
    {% endif %}
    {% if bookmarked %}
    <a id="bookmark" class="is-size-7" style="display:inline;" href="{{ url_for('bookmarks_bp.bookmark', docid=docid) }}">
        <img id="bkmrk" width="10" src="{{ url_for('static',filename='images/bookmark-red.png') }}">
    </a>
    {% endif %}

    <h1 id="name" class="title is-4 mt-4" style="margin-bottom:0em; display:inline;"></h1>

    <div class="columns" style="margin-top:0px;">
        <!--content column-->
        <div class="column is-8">
            <div id="editor" style="text-align:justify; text-justify: inter-word;"></div>
        </div>
        <!--end content column-->

        <!--navigator column-->
        <div class="column">
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Recommendations</h4>
                {% if suggestlist is not none %}
                    {% for key, name, pretty in suggestlist %}
                    <a style="display:block;" class="is-size-6" href="{{ url_for('document_bp.doc',id=key,prettyurl=pretty) }}">
                        {{name}}
                    </a>
                    {% endfor %}
                {% else %}
                    <p class="is-size-6">creating recommendations...</p>
                {% endif %}
            </div>
            {% if "draft" == document.state %}
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Info</h4>
                <p class="draft is-size-6">
                    This document is a draft and is not listed among the published documents but only as a draft owned by the editor.
                    The system administrator only can publish the document.
                </p>
            </div>
            {% endif%}
            {% if "review" == document.state %}
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Info</h4>
                <p class="draft is-size-6">
                    This document is published but there is a more recent private review.
                </p>
            </div>
            {% endif%}
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Tags</h4>
                {% if document.tags is not none and document.tags|length > 0 %}
                <div class="tags">
                {% set tags = document.tags.split('|') %}
                {% for tag in tags %}
                <a class="tag is-link is-light" href="{{ url_for('document_bp.browse',tag=tag) }}">{{tag}}</a>
                {% endfor %}
                </div>
                {% else %}
                    <p class="is-size-6">no tags</p>
                {% endif %}
            </div>
            {% if current_user.is_admin() %}
            <div class="widget box">
                <h4 class="title is-6 mb-2" style="margin-bottom:0em;">Views</h4>
                <canvas id="views"></canvas>
                <script>
                    var data_js = {{ analytics|tojson }};
                    const ctx = $('#views');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: JSON.parse(data_js).labels,
                            datasets: [{
                                label: '# of Visualizations',
                                data: JSON.parse(data_js).value,
                                fill: false,
                                backgroundColor: 'rgba(54, 162, 235, 0.4)',
                                borderColor: 'rgb(54, 162, 235)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
            {% endif %}
            <div class="widget box">
                <h4 class="title is-6 mb-2" style="margin-bottom:0em;">Actions</h4>
                    {% if current_user.is_editor() %}
                    <p>
                        <a class="is-size-6" style="display:inline;" href="{{ url_for('document_bp.edit',id=docid) }}">Edit the document</a>
                    </p>
                    {% endif %}
                    <p>
                        <a id="feedback" class="is-size-6" style="display:inline;">Leave a feedback</a>
                    </p>
            </div>
        </div>
        <!--end navigator column-->

        <div class="modal feedbackmodal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                  <p class="modal-card-title">
                      <span style="font-weight: bold;" class="is-size-6">Post a feedback on this document</span>
                  </p>
                <button id="feedbackclosemodal" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                  <div class="feedbackbody">
                      <div class="field">
                          <label class="label">Description</label>
                          <input id="feedbackdescription" class="input" type="text" placeholder="Feedback short description" autocomplete="off">
                      </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                        <textarea id="feedbackmessage" class="textarea" placeholder="Input your feedback" autocomplete="off"></textarea>
                      </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                      <div class="control">
                        <button id="postfeedback" class="button is-link is-small">Submit</button>
                      </div>
                      <div class="control">
                        <button id="cancelfeedback" class="button is-light is-small">Cancel</button>
                      </div>
                    </div>
                  </div>
              </section>
              <footer class="modal-card-foot">
              </footer>
            </div>
        </div>

    </div>

<script>
	$("#feedback").click(function(e){
		$(".feedbackmodal").addClass("is-active");
	})

	$("#postfeedback").click(function(e){
		e.preventDefault();
	    $.ajax({
	    	type: "POST",
	        url: "{{ url_for('feedback_bp.comment')}}",
	        data : {pk:"{{docid}}", desc:encodeURIComponent($("#feedbackdescription").val()), msg:encodeURIComponent($("#feedbackmessage").val())},
	        success: function(data) {
	            $.notify(data["message"], data["code"]);
	            $('.feedbackbody').replaceWith( '<h2 class="is-size-6 has-text-centered">Your feedback has been recorded</h2>' );
	        },
            error: function (jqXHR, textStatus, errorThrown) {
                $.notify(JSON.parse(jqXHR.responseText)['message'], 'error');
            }
		})
	})

	$("#feedbackclosemodal,#cancelfeedback").click(function(e){
		$(".feedbackmodal").removeClass("is-active");
	})

	$("#feedbackclosemodal,#cancelfeedback").click(function(e){
		$(".feedbackmodal").removeClass("is-active");
	})

    $("#bookmark").click(function(event){
        event.preventDefault();
        $.ajax({
	        type: "POST",
	        url: "{{ url_for('bookmarks_bp.bookmark')}}",
	        data : {docid:"{{docid}}"},
	        success: function(data) {
	        console.log(data);
            $.notify(data["message"], "success");
            if (data["hasbookmark"]){$('#bkmrk').attr('src', "{{ url_for('static',filename='images/bookmark-red.png') }}");}
            if (!data["hasbookmark"]){$('#bkmrk').attr('src', "{{ url_for('static',filename='images/bookmark-gray.png') }}");}
	        }});
        return false; 
    });

    $( "#name" ).text(decodeURIComponent("{{document.currentversion.name}}"));
      const viewer = toastui.Editor.factory({
        el: document.querySelector('#editor'),
        viewer: true,
        height: '500px',
        linkAttributes: {
            target: '_blank',
            contenteditable: 'false',
            rel: 'noopener noreferrer'
        },
        initialValue: decodeURIComponent("{{document.currentversion.content}}")
        });


</script>
{% endblock %}
