{% extends "base.html" %}
{% block content %}

    {% if not bookmarked %}
    <a id="bookmark" class="is-size-7" style="display:inline;" href="{{ url_for('bookmarks_bp.bookmark', docid=docid) }}">
        <img id="bkmrk" width="10" src="{{ url_for('static',filename='images/bookmark-gray.png') }}">
    </a>
    {% endif %}
    {% if bookmarked %}
    <a id="bookmark" class="is-size-7" style="display:inline;" href="{{ url_for('bookmarks_bp.bookmark', docid=docid) }}">
        <img id="bkmrk" width="10" src="{{ url_for('static',filename='images/bookmark-red.png') }}">
    </a>
    {% endif %}

    <h1 id="name" class="title is-4" style="margin-bottom:0em; display:inline;"></h1>

    <div class="columns" style="margin-top:0px;">
        <!--content column-->
        <div class="column is-8">
            <div id="editor" style="text-align:justify; text-justify: inter-word;"></div>
        </div>
        <!--end content column-->

        <!--navigator column-->
        <div class="column">
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Recommendations</h4>
                {% if suggestlist is not none %}
                    {% for key, name, pretty in suggestlist %}
                    <a style="display:block;" class="is-size-6" href="{{ url_for('document_bp.doc',id=key,prettyurl=pretty) }}">
                        {{name}}
                    </a>
                    {% endfor %}
                {% else %}
                    <p class="is-size-6">creating recommendations...</p>
                {% endif %}
            </div>
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Tags</h4>
                {% if document[4] is not none and document[4]|length > 0 %}
                <div class="tags">
                {% set tags = document[4].split(',') %}
                {% for tag in tags %}
                <a class="tag is-link is-light" href="{{ url_for('document_bp.browse',tag=tag) }}">{{tag}}</a>
                {% endfor %}
                </div>
                {% else %}
                    <p class="is-size-6">no tags</p>
                {% endif %}
            </div>
            {% if current_user.is_admin() %}
            <div class="widget box">
                <h4 class="title is-6 mb-2" style="margin-bottom:0em;">Views</h4>
                <canvas id="views"></canvas>
                <script>
                    var data_js = {{ analytics|tojson }};
                    const ctx = $('#views');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: JSON.parse(data_js).labels,
                            datasets: [{
                                label: '# of Visualizations',
                                data: JSON.parse(data_js).value,
                                fill: false,
                                backgroundColor: 'rgba(54, 162, 235, 0.4)',
                                borderColor: 'rgb(54, 162, 235)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
            {% endif %}
            {% if current_user.is_editor() %}
            <div class="widget box">
                <h4 class="title is-6 mb-2" style="margin-bottom:0em;">Actions</h4>
                <p>
                    <a class="is-size-6" style="display:inline;" href="{{ url_for('document_bp.edit',id=docid) }}">Edit</a>
                </p>
            </div>
            {% endif %}
            {% if "draft" == document[2] %} 
            <div class="widget box">
                <h4 class="title is-6  mb-2" style="margin-bottom:0em;">Info</h4>
                <p class="draft is-size-6">
                    This document has been modified and is not listed among the published documents but only as a draft owned by the editor. 
                    The system administrator only can publish the document.
                </p>
            </div>
            {% endif%}
        </div>
        <!--end navigator column-->

    </div>

<script>
    $("#bookmark").click(function(event){
        event.preventDefault();
        $.ajax({
	        type: "POST",
	        url: "{{ url_for('bookmarks_bp.bookmark')}}",
	        data : {docid:"{{docid}}"},
	        success: function(data) {
	        console.log(data);
            $.notify(data["message"], "success");
            if (data["hasbookmark"]){$('#bkmrk').attr('src', "{{ url_for('static',filename='images/bookmark-red.png') }}");}
            if (!data["hasbookmark"]){$('#bkmrk').attr('src', "{{ url_for('static',filename='images/bookmark-gray.png') }}");}
	        }});
        return false; 
    });

    $( "#name" ).text(decodeURIComponent("{{document[0]}}"));  
      const viewer = toastui.Editor.factory({
        el: document.querySelector('#editor'),
        viewer: true,
        height: '500px',
        linkAttributes: {
            target: '_blank',
            contenteditable: 'false',
            rel: 'noopener noreferrer'
        },
        initialValue: decodeURIComponent("{{document[1]}}")
        });

    $("#delete").click(function() {
        if (confirm("Confirm the deletion of the document!") == true) {
            return true;
        } else {
            return false;
    }})

</script>
{% endblock %}
