{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}   

       <form action="{{ url_for('auth_bp.login_post') }}" method="post">
            <div class="form-group">
            <div class="field">
                <div class="control">
                    <input id="username" class="input" name="username" placeholder="Username" required="" type="text" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input id="password" class="input" name="password" placeholder="Password" type="password" autocomplete="off">
                </div>
            </div>

            {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
            </form>
           <!--<input type="submit" value="Send">-->
           <button class="button is-block is-info is-fullwidth">Login</button>
       </form>
    </div>
</div>
{% endblock %}