{% extends "base.html" %}

{% block content %}
  <h1 id="name" class="title is-4">Welcome, {{username}}!</h1>
  {% with messages = get_flashed_messages(category_filter=["message"]) %}
  {% if messages %}
      <div class="notification">
          {% for message in messages %}
          {{ messages[0]}}
        {% endfor %}
      </div>
  {% endif %}
  {% endwith %}   

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
      <div class="notification is-danger">
          {{ errors[0] }}
      </div>
  {% endif %}
  {% endwith %}

  <form action="{{ url_for('auth.update') }}" style="width:50%;" method="post">
    <label class="label">Change password</label>
    <div class="field">
      <div class="control">
        <input class="input" name="currentpassword" type="password" placeholder="Current password" autocomplete="new-password">
      </div>
    </div>
    <div class="field">
        <div class="control">
          <input class="input" name="newpassword" type="password" placeholder="New password" autocomplete="new-password">
        </div>
    </div>
     <div class="field">
        <div class="control">
          <input class="input" name="repeatpassword" type="password" placeholder="Repeat password" autocomplete="new-password">
        </div>
    </div>
    <div class="field">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-info is-light">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
{% endblock %}

