{% extends "base.html" %}

{% block content %}

    <h3 class="title">Create a new user</h3>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth_bp.createuser') }}">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Display name" autocomplete="off">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Password" autocomplete="new-password">
                </div>
            </div>

            <button class="button is-block is-info">Create</button>
        </form>
    </div>

{% endblock %}