.widget{
    padding-bottom:20px;
    border-radius: 0px;
    border: 1px solid;
    border-color: #dbdbdb;
    background-color: #FFFFFF;
    padding: 20px;
}

.box{
    border-radius: 0px;
    border-color: #dbdbdb;
}

html, th, td{
    background-color: #FAFAFE;
}

.tile{
    background-color: #FAFAFE;
}

.container .table a{
    color: #5866F6;
}

/*
a.try-cloud-link{
    align-items: center;
    display: flex;
    background-image: none;
    border: 1px solid #5866F6;
    padding: 0px 20px;
    white-space: nowrap;
    margin:13px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #5866F6;
    color: #FFFFFF;
    transition: background-color .6s;
    transition: color .6s;
}

a.try-cloud-link:hover {
    background-color: #5961FF;
    color: #FFFFFF;
}
*/

a.try-cloud-link{
    align-items: center;
    display: flex;
    background-image: none;
    border: 1px solid #5866F6;
    padding: 0px 20px;
    white-space: nowrap;
    margin:13px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #5866F6;
    color: #FFFFFF;
    transition: background-color .6s;
    transition: color .6s;
}

a.try-cloud-link:hover {
  background-color: var(--c-indigo-650) !important;
  border-color: var(--c-indigo-650);
  color: var(--c-neutral-100) !important;
}



.tile img{
    background-color: #FAFAFE;
    height:60px;
}

.toastui-editor-contents h2{
    color:#000000;
    font-weight: 500;
}

.button {
  background-image: url("/theme/images/magnifyingglass.svg");
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: 13px center;
  width: 45px;
}

.re-tag{
    border-radius: 0%;
    border: 1px solid;
    border-color:#A6EEF0;
    font-size: .9rem;
    height: 2em;
    line-height: 1.5;
    padding: .3em;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
}

input.smallsearchbar {
  background-image: url("/theme/images/magnifyingglass.svg");
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: 8px center;
}

section .navbar-brand img {
  max-height:none;
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar{
  border-bottom: 1px solid #BBB;
  height:78px;
}

.navbar-brand{
  margin: 0 0rem 0 2rem;
}

.liner{
    border-bottom: 1px solid #AAA;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
  background-color: #FAFAFE;
  padding-left:100px;
  padding-right:100px;

  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

section .navbar-item span{
color: #4F545A;
display: inline;
text-align: center;
-webkit-text-stroke-color: #fff;
font-weight: 700;
font-size: 14px;
}

/*
.select:not(.is-multiple):not(.is-loading)::after {
    border: 1px solid;
    border-color: #485fc7;
    border-right: 0;
    border-top: 0;
}
*/

.re-select > ul{
    border: 1px solid #dbdbdb;
    font-size: 16px;
}
.prettydropdown.arrow > ul > li.selected::after {

}

.prettydropdown.arrow > ul > li.selected:before {
  border-top-color: #5866F6; /* Arrow color */
}

.prettydropdown > ul.active > li:not(.label):hover, .prettydropdown > ul.active > li.hover:not(.label), .prettydropdown > ul.active > li:first-child:hover:after {
  background: #5866F6;
  color: #fff;
}

.prettydropdown:not(.disabled) > ul.active {
  border-color: #dbdbdb;
}

.columns{
    margin-right:0px;
}

.pagination-previous, .pagination-next{
    border-radius: 0%;
    border-color: #000000;
    color: #000000;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 500;
}


.pagination-link.is-current {
    background-color: #5866F6;
    border-color: #5866F6;
    color: #fff;
}

.pagination-link{
    border-radius: 50%;
}

.prettydropdown > ul > li {
    height: 25px;
}

.centeredbox {
    text-align: center;
    display: block;
}

.toastui-editor-contents{
    font-size: 15px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    }

    .ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
    }

    .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.re-footer a {
  color: #bfc2c4;
}

.re-footer a:hover {
  color: #FFFFFF;
}

.re-footer {
  background-color: #161f31;
  color: #bfc2c4;
}